:root{
    --Neutral900: #111827;
    --Neutral800: #1F2937;
    --Neutral700: #374151;
    --Neutral600: #4B5563;
    --Neutral500: #6B7280;
    --Neutral400: #94A3B8;
    --Neutral300: #CBD5E1;
    --Neutral200: #E5E7EB;
    --Neutral100: #F3F4F6;
    --Neutral50: #F8FAFC;


    --Black: #000000;
    --White: #FFFFFF;


    --Brand900: #321E81;
    --Brand800: #3730A3;
    --Brand700: #4338CA;
    --Brand600: #4F46E5;
    --Brand500: #6366F1;
    --Brand400: #818CF8;
    --Brand300: #A5B4FC;
    --Brand200: #C7D2FE;
    --Brand100: #E0E7FF;
    --Brand50: #EEF2FF;


    --Rose600: #E11D48;
    --Rose400: #FB7185;
    --Rose50: #FFF1F2;

    --Amber600: #D97706;
    --Amber400: #F59E0B;
    --Amber100: #FEF3C7;

    --Teal600: #0D9488;
    --Teal400: #2DD4BF;
    --Teal50: #F0FDFA;
}





























